<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0">
  <link rel="stylesheet" href="static/stylesheet/style.css" type="text/css">
  <title>My Recipes</title>
</head>
<body>
    <div class="principal">
    <div class="wrap">
      <form class="formulario" action="">
        <input type="text" id="tareaInput" placeholder="Write here the recipe you would like to add">
        <input type="button" class="boton" id="btn-agregar" value="Add a New Recipe">
        <input type="button" class="boton" id="btn-agregar" value="Load Recipes">
      </form>
    </div>
  </div>

  <script src="static/scripts/recipes.js"></script>
</body>
</html>
